
hls_array/CMakeLists.txt
hls_array/cmake-build-debug/Testing/Temporary/LastTest.log
hls_array/cmake-build-debug/Makefile
hls_array/cmake-build-debug/hls.exe
hls_array/cmake-build-debug/hls.cbp
hls_array/cmake-build-debug/CMakeFiles/TargetDirectories.txt
hls_array/cmake-build-debug/CMakeFiles/progress.marks
hls_array/cmake-build-debug/CMakeFiles/Makefile2
hls_array/cmake-build-debug/CMakeFiles/Makefile.cmake
hls_array/cmake-build-debug/CMakeFiles/hls.dir/progress.make
hls_array/cmake-build-debug/CMakeFiles/hls.dir/objects1.rsp
hls_array/cmake-build-debug/CMakeFiles/hls.dir/objects.a
hls_array/cmake-build-debug/CMakeFiles/hls.dir/main.cpp.obj
hls_array/cmake-build-debug/CMakeFiles/hls.dir/linklibs.rsp
hls_array/cmake-build-debug/CMakeFiles/hls.dir/link.txt
hls_array/cmake-build-debug/CMakeFiles/hls.dir/includes_CXX.rsp
hls_array/cmake-build-debug/CMakeFiles/hls.dir/flags.make
hls_array/cmake-build-debug/CMakeFiles/hls.dir/DependInfo.cmake
hls_array/cmake-build-debug/CMakeFiles/hls.dir/depend.make
hls_array/cmake-build-debug/CMakeFiles/hls.dir/depend.internal
hls_array/cmake-build-debug/CMakeFiles/hls.dir/CXX.includecache
hls_array/cmake-build-debug/CMakeFiles/hls.dir/cmake_clean.cmake
hls_array/cmake-build-debug/CMakeFiles/hls.dir/build.make
hls_array/cmake-build-debug/CMakeFiles/CMakeOutput.log
hls_array/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
hls_array/cmake-build-debug/CMakeFiles/cmake.check_cache
hls_array/cmake-build-debug/CMakeFiles/clion-log.txt
hls_array/cmake-build-debug/CMakeFiles/clion-environment.txt
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.exe
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
hls_array/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
hls_array/cmake-build-debug/CMakeCache.txt
hls_array/cmake-build-debug/cmake_install.cmake
hls_array/.idea/workspace.xml
hls_array/.idea/vcs.xml
hls_array/.idea/modules.xml
hls_array/.idea/misc.xml
hls_array/.idea/hls.iml
hls_array/.idea/dataSources.local.xml
hls_array/.idea/deployment.xml
hls_array/.idea/sshConfigs.xml
hls_array/.idea/webServers.xml
hls_array/.idea/.name
hls_array/cmake-build-debug/CMakeFiles/hls.dir/Posenet.cpp.obj
hls_stream/.idea/.name
hls_stream/.idea/hls_stream.iml
hls_stream/.idea/misc.xml
hls_stream/.idea/modules.xml
hls_stream/.idea/vcs.xml
hls_stream/cmake-build-debug/cmake_install.cmake
hls_stream/cmake-build-debug/CMakeCache.txt
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.exe
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
hls_stream/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hls_stream/cmake-build-debug/CMakeFiles/clion-environment.txt
hls_stream/cmake-build-debug/CMakeFiles/clion-log.txt
hls_stream/cmake-build-debug/CMakeFiles/cmake.check_cache
hls_stream/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
hls_stream/cmake-build-debug/CMakeFiles/CMakeOutput.log
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/build.make
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/cmake_clean.cmake
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/CXX.includecache
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/depend.internal
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/depend.make
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/DependInfo.cmake
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/flags.make
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/includes_CXX.rsp
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/link.txt
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/linklibs.rsp
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/main.cpp.obj
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/objects.a
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/objects1.rsp
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/Posenet.cpp.obj
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/progress.make
hls_stream/cmake-build-debug/CMakeFiles/Makefile.cmake
hls_stream/cmake-build-debug/CMakeFiles/Makefile2
hls_stream/cmake-build-debug/CMakeFiles/progress.marks
hls_stream/cmake-build-debug/CMakeFiles/TargetDirectories.txt
hls_stream/cmake-build-debug/hls.cbp
hls_stream/cmake-build-debug/hls.exe
hls_stream/cmake-build-debug/Makefile
hls_stream/cmake-build-debug/Testing/Temporary/LastTest.log
hls_stream/.idea/workspace.xml
hls_stream/.idea/deployment.xml
hls_stream/.idea/encodings.xml
hls_stream/.idea/sshConfigs.xml
hls_stream/.idea/webServers.xml
hls_stream/CMakeLists.txt
hls_stream/.idea/dataSources.local.xml
hls_stream/.idea/inspectionProfiles/Project_Default.xml
hls_stream/Test/conv0mvau_golden.txt
hls_stream/Test/testb.txt
hls_stream/Test/testw.txt
hls_stream/Test/conv0mvau.txt
hls_stream/Test/conv0pad.txt
hls_stream/Test/conv0swu.txt
test/Test/testw.txt
test/Test/testb.txt
test/Test/conv0swu.txt
test/Test/conv0pad.txt
test/Test/conv0mvau.txt
hls_stream/Test/hconv0in.txt
hls_stream/Test/testb1.txt
hls_stream/Test/testb2.txt
hls_stream/Test/testw1.txt
hls_stream/Test/testw2.txt
hls_stream/cmake-build-debug/CMakeFiles/Progress/1
hls_stream/cmake-build-debug/CMakeFiles/Progress/2
hls_stream/cmake-build-debug/CMakeFiles/Progress/count.txt
hls_stream/cmake-build-debug/CMakeFiles/Progress/3
hls_stream/cmake-build-release/cmake_install.cmake
hls_stream/cmake-build-release/CMakeCache.txt
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeCCompiler.cmake
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CMakeSystem.cmake
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/a.exe
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
hls_stream/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hls_stream/cmake-build-release/CMakeFiles/clion-environment.txt
hls_stream/cmake-build-release/CMakeFiles/clion-log.txt
hls_stream/cmake-build-release/CMakeFiles/cmake.check_cache
hls_stream/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
hls_stream/cmake-build-release/CMakeFiles/CMakeOutput.log
hls_stream/cmake-build-release/CMakeFiles/hls.dir/build.make
hls_stream/cmake-build-release/CMakeFiles/hls.dir/cmake_clean.cmake
hls_stream/cmake-build-release/CMakeFiles/hls.dir/CXX.includecache
hls_stream/cmake-build-release/CMakeFiles/hls.dir/depend.internal
hls_stream/cmake-build-release/CMakeFiles/hls.dir/depend.make
hls_stream/cmake-build-release/CMakeFiles/hls.dir/DependInfo.cmake
hls_stream/cmake-build-release/CMakeFiles/hls.dir/flags.make
hls_stream/cmake-build-release/CMakeFiles/hls.dir/includes_CXX.rsp
hls_stream/cmake-build-release/CMakeFiles/hls.dir/link.txt
hls_stream/cmake-build-release/CMakeFiles/hls.dir/linklibs.rsp
hls_stream/cmake-build-release/CMakeFiles/hls.dir/main.cpp.obj
hls_stream/cmake-build-release/CMakeFiles/hls.dir/objects.a
hls_stream/cmake-build-release/CMakeFiles/hls.dir/objects1.rsp
hls_stream/cmake-build-release/CMakeFiles/hls.dir/progress.make
hls_stream/cmake-build-release/CMakeFiles/Makefile.cmake
hls_stream/cmake-build-release/CMakeFiles/Makefile2
hls_stream/cmake-build-release/CMakeFiles/progress.marks
hls_stream/cmake-build-release/CMakeFiles/TargetDirectories.txt
hls_stream/cmake-build-release/hls.cbp
hls_stream/cmake-build-release/hls.exe
hls_stream/cmake-build-release/Makefile
hls_stream/cmake-build-release/Testing/Temporary/LastTest.log
hls_stream/data/bin/3_bias.bin
hls_stream/data/bin/3_M0.bin
hls_stream/data/bin/3_weight.bin
hls_stream/data/bin/4_bias.bin
hls_stream/data/bin/4_M0.bin
hls_stream/data/bin/4_weight.bin
hls_stream/data/bin/5_bias.bin
hls_stream/data/bin/5_M0.bin
hls_stream/data/bin/5_weight.bin
hls_stream/data/bin/6_bias.bin
hls_stream/data/bin/6_M0.bin
hls_stream/data/bin/6_weight.bin
hls_stream/data/bin/7_bias.bin
hls_stream/data/bin/7_M0.bin
hls_stream/data/bin/7_weight.bin
hls_stream/data/bin/8_bias.bin
hls_stream/data/bin/8_M0.bin
hls_stream/data/bin/8_weight.bin
hls_stream/data/conv1_int_output.txt
hls_stream/data/features.0.conv1_int_featuremap.txt
hls_stream/data/features.0.conv1_int_output.txt
hls_stream/data/features.0.conv2_int_featuremap.txt
*.txt
*.bin
hls_stream/cmake-build-debug/CMakeFiles/hls.dir/stP1kAlM
*.xml
hls_stream_loop/.idea/.name
hls_stream_loop/.idea/hls_stream.iml
hls_stream_loop/cmake-build-debug/cmake_install.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.exe
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
hls_stream_loop/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hls_stream_loop/cmake-build-debug/CMakeFiles/cmake.check_cache
hls_stream_loop/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/CMakeOutput.log
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/build.make
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/cmake_clean.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/CXX.includecache
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/depend.internal
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/depend.make
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/DependInfo.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/flags.make
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/includes_CXX.rsp
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/linklibs.rsp
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/main.cpp.obj
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/objects.a
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/objects1.rsp
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/Posenet.cpp.obj
hls_stream_loop/cmake-build-debug/CMakeFiles/hls.dir/progress.make
hls_stream_loop/cmake-build-debug/CMakeFiles/Makefile.cmake
hls_stream_loop/cmake-build-debug/CMakeFiles/Makefile2
hls_stream_loop/cmake-build-debug/CMakeFiles/progress.marks
hls_stream_loop/cmake-build-debug/hls.cbp
hls_stream_loop/cmake-build-debug/hls.exe
hls_stream_loop/cmake-build-debug/Makefile
hls_stream_loop/cmake-build-debug/Testing/Temporary/LastTest.log
hls_stream_loop/cmake-build-release/cmake_install.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CMakeCCompiler.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CMakeSystem.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/a.exe
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/a.exe
hls_stream_loop/cmake-build-release/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hls_stream_loop/cmake-build-release/CMakeFiles/cmake.check_cache
hls_stream_loop/cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/CMakeOutput.log
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/build.make
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/cmake_clean.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/CXX.includecache
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/depend.internal
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/depend.make
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/DependInfo.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/flags.make
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/includes_CXX.rsp
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/linklibs.rsp
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/main.cpp.obj
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/objects.a
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/objects1.rsp
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/Posenet.cpp.obj
hls_stream_loop/cmake-build-release/CMakeFiles/hls.dir/progress.make
hls_stream_loop/cmake-build-release/CMakeFiles/Makefile.cmake
hls_stream_loop/cmake-build-release/CMakeFiles/Makefile2
hls_stream_loop/cmake-build-release/CMakeFiles/progress.marks
hls_stream_loop/cmake-build-release/hls.cbp
hls_stream_loop/cmake-build-release/hls.exe
hls_stream_loop/cmake-build-release/Makefile
hls_stream_loop/cmake-build-release/Testing/Temporary/LastTest.log
hls_stream_loop/cmake-build-release/CMakeFiles/Progress/2
hls_stream_loop/cmake-build-release/CMakeFiles/Progress/1
hls_stream/cmake-build-release/CMakeFiles/hls.dir/Posenet.cpp.obj
